{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ author.last_name }} {{author.first_name}}</h1>
  <p><strong>Born:</strong> {{object.date_of_birth}}</p>
  {% if object.date_of_death %}
    <p><strong>Died:</strong> {{object.date_of_death}}</p> 
  {% endif %}
        

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    {% for book in author.book_set.all %}
        <a href="{% url 'book-detail' pk=book.id %}">{{book.title}}</a>({{book.bookinstance_set.count}})
        <p>{{book.summary}}</p>
    {% endfor %}
  </div>
{% endblock %}