{% extends "base_generic.html" %}

{% block content %}
  <h1>Faisal's Library Home</h1>
  <p>Welcome to Faisal's Library, a website developed by <em>Faisal Mohammad</em>!</p>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Genres:</strong> {{ num_genre }}</li>
    <li><strong>Books with harry in title:</strong> {{ harry }}</li>
  </ul>
{% endblock %}